<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- owl carousal -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">

    <title>Blog Project</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">BlogProject</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/post">Admin </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/post">CreatePost</a>
          </li>
           
          <li class="nav-item active">
            <a class="nav-link" href="/admin/deletepost">DeletePost</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/admin/category/">CreateCategory</a>
          </li>
          <li class="nav-item active" style="margin-left: 700px;">
            <a class="nav-link float-right" href="/">UserView</a>
          </li>
        </ul>
       
      </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">                
            <h2 class="text-center  p-4 mt-4 bg-primary text-warning">Add a Category</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="mb-3 form-group">
                    <label for="title" class="form-label">Category Title</label>
                    <input type="text" class="form-control" id="title" name="title" onkeyup="createSlug()">
                </div>
                <div class="mb-3 form-group">
                    <label for="slug" class="form-label">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug">
                </div>
                <div class="mb-3 form-group">
                    <label for="image" class="form-label">Feature Image</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
                <input type="submit" class="btn btn-primary w-100" value="submit">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
 
<script>
    function createSlug() {
        var val = document.forms[0].title.value;
        
        var txt = "";
        for (let i = 0; i < val.length; i++) {
            if(val[i] == " "){txt+="-"}
            else{txt+=val[i]}
            }
        document.forms[0].slug.value = txt;
}
</script>
</body>
</html>
